html, body {
	font-family: 'Montserrat', sans-serif;
	background-color: #4a2c7a;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;

}

.header {
	background-color: #5b399d;
	color: #fff;
	border-bottom: 1px solid #ffce4c;
}

.header .header-title {
	margin: 0;
	padding: 0.5rem 1rem;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
}

.title-color {
	color: #ffce4c;
}

.intro-text {
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	font-weight: normal;
}

.input-block {
	margin-bottom: 1rem;
	padding: 0.5rem;
	background-color: #fff;
	color: #000;
}

.new-expense-title {
	margin: 0;
	margin-bottom: 0.3rem;
	padding: 0.3rem;
	font-size: 1.1rem;
	color: #331e57;
}

.form {
	display: flex;
	flex-direction: column;
}

.input-block .input-field {
	border: none;
}

.flex-wrap {
	display: flex;
	justify-content: space-between;
}

.input-field label {
	text-transform: capitalize;
}

.input-block .input {
	border: none;
	border-bottom: 1px solid #ee398b;
	padding: 0.2rem;
	font-size: 0.8rem;
}

.input-date {
	color: #331e57;
}

.input-block .input:focus {
	outline: 2px solid rgba(255,101,171,0.5);
}

.submit-btn {
	align-self: center;
  border-radius: 1.1rem;
  color: #ffffff;
  font-size: 1rem;
  background: #ee398b;
  padding: 0.4rem 1rem 0.4rem 1rem;
  text-decoration: none;
}

.submit-btn:hover {
  background: #e0a81b;
  text-decoration: none;
}

.submit-btn:active {
  color: #d1cad1;
  text-decoration: none;
}

.hidden {
	display: none;
}

.expenses {
	margin-bottom: 2rem;
}

.expenses-table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	color: #000;
}

.table-header {
	background-color: rgba(255,206,76,0.7);
}

.table-header .expense-cell{

}
.expense-cell {
	text-align: center;
	padding: 0.3rem;
}

.cell-date {
	width: 25%;
}

.cell-description {
	width: 55%;
}

.cell-amount {
	width: 10%;
}



.footer {
	margin: 0;
	padding: 0.5rem 0.8rem;
	background-color: #5b399d;
	color: #fff;
	border-top: 1px solid #ffce4c;
}

.footer-author {
	color: #ffce4c;
}